@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

.logo{
    font-family: 'Cinzel', serif;
    font-size: 1.4rem;
    color: #ddd;
    text-shadow: 2px 2px #000;    
}

.avatar{
    height: 36px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.btn-menu{
    border: none;
    background: none;
}

main{
    margin-top: 64px;
}
